@import 'base';

:host {
  display: flex;
  justify-content: center;
  margin: 75px 0;
}
md-card {
  max-width: 600px;
}
md-card-title {
  margin-left: 10px;
}
img {
  width: 60px;
  min-width: 60px;
  margin-left: 5px;
}
md-card-content {
  margin-top: 15px;
  margin-bottom: 125px;
}
md-raised-button {
  color: $cali-blue;
}
md-card-actions {
  margin-bottom: 0 !important;
  margin-right: 0;
}
md-card-footer {
  padding: 0 25px 25px;
}
