<div class="footer__container">
  <div class="menu-group dark">
    <div class="menu-group-left">
      <ul class="footer__navbar title">
        <li class="name">
          <a [routerLink]="['/']">
            <img src="/app/style/images/branding/cst_logo_blue.jpg" title="Cali Style Technologies">
          </a>
        </li>
        <li class="copyright">
          <a [routerLink]="['/']">&copy; 2016 Cali Style Technologies LLC. All rights reserved.</a>
        </li>
      </ul>
    </div>
    <div class="menu-group-middle">
      <ul class="footer__navbar dark">

      </ul>
    </div>
    <div class="menu-group-right">
      <ul class="footer__navbar">
        <li>
          <a href="https://www.facebook.com/CaliStyleTechnologies">
            <div class="fa fa-facebook"></div>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/CalistyleTechno">
            <div class="fa fa-twitter"></div>
          </a>
        </li>
        <li>
          <a href="https://github.com/CaliStyle">
            <div class="fa fa-github-alt"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="fa fa-instagram"></div>
          </a>
        </li>
        <li class="intercom-spacer">
        </li>
      </ul>
    </div>
  </div>
</div>
